@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    font-family:'Inter',sans-serif;
    background:#07111F;
    color:white;
    overflow-x:hidden;
}

#root{
    min-height:100vh;
}

.page-content{
    padding-top:110px;
    min-height:calc(100vh - 110px);
}

img{
    max-width:100%;
    display:block;
}

button,
input,
textarea{
    font-family:inherit;
}

a{
    text-decoration:none;
    color:inherit;
}

section{
    position:relative;
}