.navbar{

    position:fixed;

    top:0;

    left:0;

    width:100%;

    z-index:1000;

    transition:.35s;

    background:rgba(7,17,31,.78);

    backdrop-filter:blur(18px);

    border-bottom:1px solid rgba(255,255,255,.05);

}

.navbar-scrolled{

    background:#07111F;

    box-shadow:0 10px 35px rgba(0,0,0,.35);

}

.container{

    width:92%;

    max-width:1500px;

    margin:auto;

    height:105px;

    display:flex;

    align-items:center;

    justify-content:space-between;

}

.logo{

    height:120px;

    transition:.35s;

}

.logo:hover{

    transform:scale(1.03);

}

.nav{

    display:flex;

    align-items:center;

    gap:40px;

}

.nav a{

    color:white;

    text-decoration:none;

    font-size:17px;

    font-weight:600;

    position:relative;

    transition:.3s;

}

.nav a::after{

    content:"";

    position:absolute;

    left:0;

    bottom:-8px;

    width:0;

    height:2px;

    background:#FF2D8D;

    transition:.35s;

}

.nav a:hover{

    color:#73B3FF;

}

.nav a:hover::after{

    width:100%;

}

.active-link{

    color:#73B3FF !important;

}

.active-link::after{

    width:100% !important;

}

.btn-demo{

    display:flex;

    align-items:center;

    justify-content:center;

    padding:16px 30px;

    border-radius:14px;

    background:linear-gradient(90deg,#1E5EFF,#FF2D8D);

    color:white;

    text-decoration:none;

    font-weight:700;

    transition:.35s;

}

.btn-demo:hover{

    transform:translateY(-3px);

    box-shadow:0 18px 35px rgba(30,94,255,.30);

}

.menu-button{

    display:none;

    border:none;

    background:none;

    color:white;

    font-size:30px;

    cursor:pointer;

}

.mobile{

    display:none;

}

.desktop{

    display:flex;

}

@media(max-width:1000px){

.container{

height:90px;

}

.logo{

height:90px;

}

.menu-button{

display:block;

z-index:1002;

}

.desktop{

display:none;

}

.nav{

position:fixed;

top:90px;

right:-100%;

width:300px;

height:calc(100vh - 90px);

background:#07111F;

flex-direction:column;

align-items:flex-start;

padding:40px 30px;

gap:30px;

transition:.35s;

box-shadow:-10px 0 30px rgba(0,0,0,.35);

}

.nav.active{

right:0;

}

.mobile{

display:flex;

width:100%;

margin-top:20px;

}

}

@media(max-width:650px){

.logo{

height:75px;

}

.container{

height:85px;

}

.nav{

top:85px;

height:calc(100vh - 85px);

width:100%;

}

}